.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--grey-light-1);
    border-bottom: var(--line);
}

.description {
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
}

.paragraph:not(:last-child) {
    margin-bottom: 2rem;
}

.list {
    // list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }
}

.recommend {
    font-size: 1.3rem;
    color: var(--grey-dark-3);
    display: flex;
    align-items: center;
   
    &__count{
        margin-right:auto;
    }
    &__photo{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        box-sizing: content-box;
    }
    &__photo:not(:last-child){
        margin-right: -1.5rem;
    }
}


.user-review{
    background-color: green;
    flex: 1;
}